<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UseStoryBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF3A29E41D642788004EAAC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3A29FD1D642788004EAAC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3A2A081D642788004EAAC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
